:root {
  --main-text-color: #000;
  --secondary-text-color: #fff;
  --accent-color: #ff6b08;
  --background-color: #f7f7f7;
  --error-notification-color: #ff001b;
  --secondary-background-color: #8c8c8c;
  --dark-theme-bg: rgb(40, 45, 51);

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body {
  color: var(--primery-text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding-left: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
