@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
  //   Film Poster

  .img-film {
    width: 240px;
    height: 357px;
    background: gainsboro;
    margin-top: 48px;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;

    margin-top: 20px;
    margin-bottom: 20px;
  }
  .shot-inform-film {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #8c8c8c;
    text-align: start;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: #000000;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .tr {
    width: 100%;
  }
  .addWatchmBtm {
    background: #ff6b01;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;

    margin-right: 20px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    padding: 13px;

    border: 1px solid #000000;
    border-radius: 5px;
  }
}

// For Tablet

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }
  .modal-film-main {
    display: flex;
  }
  // Poster of Film

  .img-film {
    width: 264px;
    height: 374px;
    background: gainsboro;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #000000;
  }
  .shot-inform-film {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: #8c8c8c;
    text-align: start;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: end;
    align-items: center;
    color: #000000;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: #000000;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .tr {
    width: 100%;
  }
  .addWatchmBtm {
    background: #ff6b01;
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;

    margin-right: 20px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    padding: 13px;

    border: 1px solid #000000;
    border-radius: 5px;
  }
}
