@media screen and (min-width: 320px) {
  .container {
    width: 100%;
  }
  .modal-film-main {
    position: relative;
  }
  //   Film Poster

  .img-film {
    width: 240px;
    height: 357px;
    background: gainsboro;
    margin-top: 48px;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);

    margin-top: 20px;
    margin-bottom: 20px;
  }
  .shot-inform-film {
    margin-bottom: 20px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
    margin-bottom: 8px;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
    margin-bottom: 8px;
  }

  .reting-level {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: var(--accent-color);
    border-radius: 5px;
  }

  .midl-table {
    width: 40px;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    background: var(--secondary-text-color);
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;

    margin-right: 20px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    background: var(--secondary-text-color);

    padding: 13px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }
  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}

// For Tablet

@media screen and (min-width: 768px) {
  .container {
    width: 100%;
  }

  .img-film {
    display: flex;
    width: 264px;
    height: 374px;
    background: gainsboro;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);
    margin-top: 40px;
  }
  .modal-film-main {
    display: flex;
    position: relative;
  }
  .img-posters {
    display: flex;
  }
  .film-commercial {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border-radius: 5px;

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;

    margin-right: 20px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);

    padding: 13px;
    width: 125px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }

  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}
