@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-film-main {
    position: relative;
    background: var(--secondary-text-color);
    margin-top: 48px;
    width: 280px;
  }

  .backdrop {
    position: fixed;
    overflow-y: hidden;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  //   Film Poster
  .img-posters {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
  }
  .img-film {
    width: 240px;
    height: 357px;
    background: gainsboro;
    border-radius: 5px;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .shot-inform-film {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
    margin-bottom: 8px;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
    margin-bottom: 8px;
  }

  .tr,
  td {
    padding-bottom: 8px;
  }
  .reting-level {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: var(--accent-color);
    border-radius: 5px;
  }

  .midle-table {
    width: 40px;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 8px;
    padding-left: 20px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    text-align: justify;
    color: var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    background: var(--secondary-text-color);
    border-radius: 5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    width: 110px;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;

    margin-right: 20px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    background: var(--secondary-text-color);

    padding: 13px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }
  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}

// For Tablet

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-film-main {
    display: flex;
    position: relative;
    background-color: var(--secondary-text-color);
    width: 704px;
  }

  // POSTER

  .img-posters {
    display: flex;
    margin-top: 40px;
    margin-left: 36px;
    padding-bottom: 138px;
  }
  .img-film {
    display: flex;
    width: 264px;
    height: 374px;
    background: gainsboro;
    border-radius: 5px;
  }
  // ТАБЛИЦЯ З РЕЙТІНГАМИ

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .film-commercial {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    margin-right: 72px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
  }

  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
  }
  .tr,
  td {
    padding-bottom: 8px;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 20px;
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
    text-align: justify;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;

    margin-right: 15px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);

    padding: 13px;
    width: 125px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }

  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}

// FOR DASKTOP

@media screen and (min-width: 1280px) {
  .backdrop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .backdrop.visually-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-film-main {
    display: flex;
    position: relative;
    background: var(--secondary-text-color);
    width: 806px;
    height: 560px;
  }

  // POSTER

  .img-posters {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .img-film {
    display: flex;
    width: 375px;
    height: 478px;
    background: gainsboro;
    border-radius: 5px;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: var(--main-text-color);
    margin-top: 40px;
  }

  .img-posters {
    display: flex;
  }
  .film-commercial {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 12px;
  }
  // RATING TABLE
  .tr,
  td {
    padding-bottom: 8px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    // font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 12px;
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
    text-align: justify;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 14px;
    padding-bottom: 12px;
    // padding-left: 10px;
    // padding-right: 10px;
    width: 136px;

    margin-right: 15px;
    margin-left: 12px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);

    padding: 13px;
    width: 136px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }

  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}
