:root {
  --main-text-color: #000;
  --secondary-text-color: #fff;
  --main-white-color: #fff;
  --accent-color: #ff6b08;
  --background-color: #f7f7f7;
  --error-notification-color: #ff001b;
  --secondary-background-color: #8c8c8c;
  --dark-theme-bg: rgb(40, 45, 51);

  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
