<!-- FT-11 Зверстати контейнер сторінки "My Library" для правильного позиціонування карток фільмів (мобілка, планшет, робочий стіл) -->

<section class="library">
  <div class="library__container">
    <h1 class="visually-hidden">My Library</h1>
    <ul class="library__list">
      <!-- Шаблон під елемент списку -->

      <!-- <li class="library__item">
        <a class="library__link" href="">
          <div class="library__thumb">
            <img class="img library__image" src="" alt="" />
          </div>
          <h2 class="library__movie"></h2>
          <ul class="library__info">
            <li class="library__description">
              <p class="library__genres"></p>
            </li>
            <li class="library__description">
              <p class="library__year"></p>
            </li>
            <li class="library__description">
              <p class="library__rating"></p>
            </li>
          </ul>
        </a>
      </li> -->
    </ul>
  </div>
</section>
