<section class="library">
  <div class="library__container">
    <h1 class="visually-hidden">My Library</h1>
    <div class="empty-library">
      <h3 class="empty-library__title">Oops...</h3>
      <p class="empty-library__text">
        There's nothing here yet. When you pick movies and add to your
        <span class="library-name">watched</span> list, they'll appear here ;)
      </p>
      <a
        class="empty-library__btn"
        href="./index.html"
        onclick="window.open('./index.html')"
        >Go to home</a
      >
      <img
        class="empty-library__img"
        alt="Empty box"
        src="./images/empty-box-light.png"
        width="200"
        height="200"
      />
    </div>
    <ul class="library__list"></ul>
  </div>
</section>
