<!-- FT-06 Зверстати контейнер головної сторінки для правильного позиціонування карток фільмів (мобілка, планшет, робочий стіл) -->
<section class="home">
  <div class="container">
    <h1 class="visually-hidden">Home page</h1>
    <ul class="cards__list">
      <!-- Для тесту - початок-->
      <li class="cards__item">
        <a class="cards__link" href="">
          <div class="cards__thumb">
            <p class="cards__text">Here will be a movie card</p>
          </div>
        </a>
      </li>
      <li class="cards__item">
        <a class="cards__link" href="">
          <div class="cards__thumb">
            <p class="cards__text">Here will be a movie card</p>
          </div>
        </a>
      </li>
      <li class="cards__item">
        <a class="cards__link" href="">
          <div class="cards__thumb">
            <p class="cards__text">Here will be a movie card</p>
          </div>
        </a>
      </li>
      <li class="cards__item">
        <a class="cards__link" href="">
          <div class="cards__thumb">
            <p class="cards__text">Here will be a movie card</p>
          </div>
        </a>
      </li>
      <!-- Для тесту - кінець-->
    </ul>
  </div>
</section>
