<!-- FT-16 Зверстати шаблон модалки одного фільму (мобілка, планшет, робочий стіл) -->
<img class="img-film" src="#" alt="#">

<ul class="modal-previer">
    <h2 class="modal-main-title"></h2>
    <table class="shot-inform-film">
        <tbody class="level-intarest">
            <tr>
                <td class="level-intarest__name">Vote / Votes</td>
                <td class="level-intarest__value">7.3 / 1260</td>
            </tr>
            <tr>
                <td class="level-intarest__name">Popularity</td>
                <td class="level-intarest__value">100.2</td>
            </tr>
            <tr>
                <td class="level-intarest__name">Original Title</td>
                <td class="level-intarest__value">A FISTFUL OF LEAD</td>
            </tr>
            <tr>
                <td class="level-intarest__name">Genre</td>
                <td class="level-intarest__value">Western</td>
            </tr>
        </tbody>
    </table>
    <p class="comment-title">About</p>
    <li class="about-film">
        Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement
        of the
        gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out
        in the
        abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the
        very same
        bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead...
        they’ve
        been double crossed – but by who and how?
    </li>
    <div class="modal-Btm">
        <button class="addWatchmBtm" type="submit">add to <br>Watched</button>
        <button class="addQueueBtm" type="submit">add to queue</button>
    </div>

</ul>