<!-- FT-23 Зверстати модалку (мобілка, планшет, десктоп) з інформацією про учасників вашої команди, яка відкриватиметься натисканням на текст "GoIT Students" у футері -->
<div class="backdrop is-hidden" data-modal-students>
  <div class="modal_students">
    <button
      class="modal_students_button"
      type="button"
      aria-label="Close the modal window"
      data-modal-students-close
    >
      <svg class="modal_students_close" width="15" height="15">
        <use href="./images/icons.svg#close"></use>
      </svg>
    </button>
    <h2 class="modal_students_title">development team</h2>
    <button
      class="modal_students_slide_left visually-hidden"
      type="button"
      aria-label="Click to slide left"
    >
      <svg width="30" height="30">
        <use href="./images/icons.svg#icon-keyboard_arrow_left"></use>
      </svg>
    </button>
    <button
      class="modal_students_slide_right"
      type="button"
      aria-label="Click to slide right"
    >
      <svg width="30" height="30">
        <use href="./images/icons.svg#icon-keyboard_arrow_right"></use>
      </svg>
    </button>
    <div class="inverted_tumb">
      
      <!-- ФРАГМЕНТ ИЗМЕНЯЕМОЙ РАЗМЕТКИ -->
      <!-- <img class="modal_foto img" src="./images/team/1.jpg" alt="" width="200" height="200" />
      <div>
        <h3 class="modal_students_name">name</h3>
        <p class="modal_students_role"></p>
        <ul class="modal_list">
          <li class="modal_list_item">
            <a class="modal_list_link " href="#">
              <div class="modal_list_con">
                <svg class="modal_list_icon" width="15" height="15">
                  <use href="./images/icons.svg#icon-envelope"></use>
                </svg>
              </div>
               <span class="modal_list_text" >      
                 E-mail
              </span></a>
          </li>
          <li class="modal_list_item">
            <a class="modal_list_link" href="#">
              <div class="modal_list_con">
                <svg class="modal_list_icon" width="15" height="15">
                  <use href="./images/icons.svg#icon-send"></use>
                </svg>
              </div>
              <span class="modal_list_text">
                 Telegram    
             </span></a>
          </li>
          <li class="modal_list_item">
            <a class="modal_list_link" href="#">
              <div class="modal_list_con">
                <svg class="modal_list_icon" width="15" height="15">
                  <use href="./images/icons.svg#icon-linkedin"></use>
                </svg>
              </div>
              <span class="modal_list_text">
                 Linkedin    
              </span></a>
          </li>
          <li class="modal_list_item">
            <a class="modal_list_link" href="#">
              <div class="modal_list_con">
                <svg class="modal_list_icon" width="15" height="15">
                  <use href="./images/icons.svg#icon-github"></use>
                </svg>
              </div>
              <span class="modal_list_text">
                 GitHub    
             </span></a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>
