.footer {
  // Для позиціонування контенту аби футер завжди був притиснутий до низу
  flex-shrink: 0;

  // background-color: var(--background-color);
}

.footer__wrap {
  text-align: center;
  padding-top: 29px;
  padding-bottom: 28px;
  // color: #545454;
  font-family: 'Roboto';
  font-size: 14px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 1.19;
  }
}
.copyrights {
  margin-bottom: 10px;
}
.footer__icon {
  stroke: rgba(255, 107, 8, 1);
  fill: var(--accent-color);
}
.footer__but {
  color: rgba(84, 84, 84, 1);
  display: inline-block;
  border: none;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
}
