.footer {
    background-color: #F7F7F7;
  }
  .footer__icon{
    stroke: #FF6B08;
    fill: #FF6B08;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .fo0ter__wrap {
    text-align: center;
    padding-top: 29px;
    padding-bottom: 28px;
  
    color: #545454;
    font-family: 'Roboto';
    font-size: 14px;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 16px;
      line-height: 1.19;
    }
  }
  .copyrights {
    margin-bottom: 10px;
  }
  .footer__but{
    display: inline-block;
    border: none;
    background: transparent;
    text-decoration: underline;
    cursor: pointer;
  }