// .backdrop-m {
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;

//   background-color: rgba(0, 0, 0, 0.2);
//   transition-property: opacity, visibility;
//   transition-duration: 500ms;

// }
.modal_students {
  width: 95%;
  height: 226px;
  //   background-color: teal;
  background-image: url('../images/header-img-tablet.jpg');
  background-size: cover;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 0;
  }
  @media screen and (min-width: 320px) {
    width: 320px;
    height: 420px;
  }
  @media screen and (min-width: 768px) {
    width: 704px;
    height: 420px;
  }
  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 420px;
  }
}
.modal_foto {
  border-radius: 10%;

  @media screen and (min-width: 320px) {
    width: 180px;
    height: 180px;
    margin: 0 auto;
  }
  @media screen and (min-width: 768px) {
    width: 300px;
    height: 300px;
  }
}
.modal_list_text {
  @media screen and (min-width: 320px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: inline-block;
  }
  @media screen and (min-width: 1280px) {
  }
}
.modal_students_button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;
  // background-color:whitesmoke;
  background-color: rgba($color: #f6eded, $alpha: 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  fill: beige;

  transition: fill 250ms var(--timing-function),
    transform 250ms var(--timing-function);

  &:focus,
  &:hover {
    transform: rotate(90deg);

    fill: brown;
  }
}
// .modal_students_svg_close{
//    transition: fill 250ms var(--timing-function),
//       transform 250ms var(--timing-function);
//     &:hover {
//       transform: rotate(90deg);
//       fill: var(--accent-color);
//     }
// }
.modal_students_title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;

  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  text-align: center;

  color: var(--accent-color);
  @media screen and (min-width: 320px) {
    font-size: 20px;
    line-height: 1;
    padding-bottom: 5px;
    width: 200px;
  }
  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 1.2;
    padding-bottom: 25px;
    width: 320px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.modal_students_slide_left {
  position: absolute;
  top: 50%;
  left: 2px;
  background-color: rgba($color: #f6eded, $alpha: 0.1);
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
  transition: fill 250ms var(--timing-function);
  fill: beige;

  &:hover {
    fill: brown;
  }
}
.modal_students_slide_right {
  position: absolute;
  top: 50%;
  right: 2px;
  background-color: rgba($color: #f6eded, $alpha: 0.1);
  border-radius: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  transition: fill 250ms var(--timing-function);

  fill: beige;

  &:hover {
    fill: brown;
  }
}
.inverted_tumb {
  @media screen and (min-width: 320px) {
    display: block;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 20px;
  }
  display: flex;
  gap: 40px;
}
.modal_students_name {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;

  // padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-top: 3px;
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 1;
    width: 220px;
    height: 20px;
  }
  @media screen and (min-width: 768px) {
    font-size: 25px;
    line-height: 1.2;
    width: 341px;
    height: 35px;
    padding-bottom: 0px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.modal_students_role {
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  font-weight: 500;

  line-height: 1.2;

  color: var(--accent-color);
  @media screen and (min-width: 320px) {
    width: 210px;
    font-size: 15px;
    padding-bottom: 15px;
    padding-top: 20px;
  }
  @media screen and (min-width: 768px) {
    width: 341px;
    font-size: 20px;
    height: 35px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.modal_list {
  // @media screen and (max-width: 480px) {
  //   display: flex;
  //   gap: 10px;
  //   flex-wrap: wrap;
  // }
  padding-left: 30px;
  width: 341px;

  text-align: justify;
  font-size: 15px;
  color: azure;
  @media screen and (min-width: 320px) {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    display: block;
    gap: 20px;
    width: 250px;
  }
  @media screen and (min-width: 1280px) {
  }
}
.modal_list_item {
  // padding-top: 10px;
  // padding-bottom: 10px;
  margin-bottom: 5px;
}
.modal_list_link {
  font-family: 'Roboto';
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.2;
  display: flex;
  justify-content: start;
  align-items: baseline;
  gap: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms var(--timing-function);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}
.modal_list_link:hover .modal_list_con {
  background-color: var(--accent-color);
}
.modal_list_link:focus .modal_list_con {
  background-color: var(--accent-color);
}
.modal_list_con {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);

  @media screen and (min-width: 320px) {
    background-color: rgba($color: #f6eded, $alpha: 0.3);
  }
  @media screen and (min-width: 768px) {
    background-color: rgba($color: #f6eded, $alpha: 0.1);
  }
}
.modal_list_icon {
  width: 25px;
  height: 25px;
}
// .modal_students_text{

//     max-width: 100%;
//     text-align:justify;
//     color: antiquewhite;
// }
