//Переніс стилі з папки base _modal.scss. Змінив назву файлу.

@media screen and (min-width: 320px) and (max-width: 767px) {
  .modal-film-main {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) scale(1);
    width: 280px;
    height: 90vh;
    max-height: 850px;
    overflow-y: scroll;
    padding: 48px 20px 40px 20px;
  background-color: var(--secondary-text-color);
    opacity: 1;
  }

  .backdrop {
    position: fixed;
    overflow-y: hidden;
    overflow: scroll;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  //   Film Poster
 
  .img-film {
    width: 240px;
    height: 357px;
    margin-bottom: 20px;
    border-radius: 5px;
  
    @media screen and (min-width: 768px) {
      width: 264px;
      height: 373.55px;
      margin-right: 68px;
      margin-bottom: 0;
    }
  
    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .shot-inform-film {
    margin-bottom: 20px;
    padding-left: 20px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
    margin-bottom: 8px;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
    margin-bottom: 8px;
  }

  .tr,
  td {
    padding-bottom: 8px;
  }
  .reting-level {
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 1px;
    padding-bottom: 1px;
    background: var(--accent-color);
    border-radius: 5px;
  }

  .midle-table {
    width: 40px;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-bottom: 8px;
    padding-left: 20px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    text-align: justify;
    color: var(--main-text-color);
    margin-left: auto;
    margin-right: auto;
    width: 240px;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    background: var(--secondary-text-color);
    border-radius: 5px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 44px;
    padding: 0;
    line-height: 1.33;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 27px;
    padding-right: 27px;

    margin-right: 20px;
  }

  .addQueueBtm {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 44px;
    padding: 0;
    line-height: 1.33;
    text-transform: uppercase;
    color: var(--main-text-color);
    background: var(--secondary-text-color);

    padding: 13px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }
  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
    
    
  }
}

// For Tablet

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-film-main {
    display: flex;
    position: relative;
    background-color: var(--secondary-text-color);
    width: 704px;
  }

  // POSTER

  .img-posters {
    display: flex;
    margin-top: 40px;
    margin-left: 36px;
    padding-bottom: 138px;
  }
  .img-film {
    display: flex;
    width: 264px;
    height: 374px;
    background: gainsboro;
    border-radius: 5px;
  }
  // ТАБЛИЦЯ З РЕЙТІНГАМИ

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--main-text-color);
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .film-commercial {
    display: flex;
    flex-direction: column;
    margin-left: 68px;
    margin-right: 72px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
  }

  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
  }
  .tr,
  td {
    padding-bottom: 8px;
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 20px;
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
    text-align: justify;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 14px;
    padding-bottom: 12px;
    padding-left: 9px;
    padding-right: 9px;
    width: 125px;

    margin-right: 15px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);

    padding: 13px;
    width: 125px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }

  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}

// FOR DASKTOP

@media screen and (min-width: 1280px) {
  .backdrop {
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  // .backdrop {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   z-index: 1000;
  //   transition: visibility 250ms, opacity 250ms;
  //   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  // }

  .backdrop.visually-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  .modal-film-main {
    display: flex;
    position: relative;
    background: var(--secondary-text-color);
    width: 806px;
    height: 560px;
  }

  // POSTER

  .img-posters {
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .img-film {
    display: flex;
    width: 375px;
    height: 478px;
    background: gainsboro;
    border-radius: 5px;
  }

  .modal-main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.2;
    color: var(--main-text-color);
    margin-top: 40px;
  }

  .img-posters {
    display: flex;
  }
  .film-commercial {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-right: 12px;
  }
  // RATING TABLE
  .tr,
  td {
    padding-bottom: 8px;
  }

  .level-intarest__name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    color: var(--secondary-background-color);
    text-align: start;
  }
  .level-intarest__value {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    // font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    text-align: start;
    align-items: center;
    color: var(--main-text-color);
  }

  // Заголовок ABOUT

  .comment-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    text-transform: uppercase;
    color: var(--main-text-color);
    margin-top: 12px;
    margin-bottom: 8px;
  }

  //   ОПИС ФІЛЬМУ

  .about-film {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.7;
    color: var(--main-text-color);
    text-align: justify;
  }

  // Кнопки добавлення та видилення фільму

  .modal-Btm {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-top: 20px;
  }

  .addWatchmBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);
    border: 1px solid var(--main-text-color);
    border-radius: 5px;

    padding-top: 14px;
    padding-bottom: 12px;
    // padding-left: 10px;
    // padding-right: 10px;
    width: 136px;

    margin-right: 15px;
    margin-left: 12px;
  }

  .addQueueBtm {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-text-color);

    padding: 13px;
    width: 136px;

    border: 1px solid var(--main-text-color);
    border-radius: 5px;
  }

  .svg-close {
    position: absolute;
    right: 16px;
    top: 16px;
    // border: 2px solid #000000;
    transform: rotate(-90deg);
  }
}
// Трейлер
.img-posters {
  position: relative;
  transition: 0.4s;
}
.trailer-btn {
  position: absolute;
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  background-color: transparent;
  color: #f79c78;
  cursor: pointer;
  transition: 0.4s;
}
.img-posters:hover,
.img-posters:focus {
  opacity: 0.9;
  .trailer-btn {
    color: var(--accent-color);
    scale: 1.3;
  }
}

.trailer-iframe {
  width: 75vw;
  max-height: 75vh;
  aspect-ratio: 16 / 9;
}
.trailer-btn-close {
  position: absolute;
  top: -25px;
  right: -25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.trailer-btn-close > i {
  color: #f79c78;
  font-size: 30px;
  transition: 0.4s;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.trailer-false-request {
  position: absolute;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--accent-color);
  top: 50%;
  left: 50%;
  background-color: rgba(228, 222, 219, 0.8);
  border-radius: 8px;
}
