.btn-up {
  position: fixed;
  z-index: 9;
  //   background-color: #f8514e81;
  fill: rgba(237, 24, 44, 0.6);
  // backdrop-filter: blur(4px);
  right: calc(100% / 2 - 660px);
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: transform 250ms var(--timing-function);

  &:hover {
    transform: scale(1.2);
  }
  @media screen and (max-width: 1279.9px) {
    right: calc(100% / 2 - 390px);
    width: 40px;
    height: 40px;
  }
  @media screen and (max-width: 767px) {
    right: calc(100% / 2 - 180px);
    width: 40px;
    height: 40px;
  }
}

.btn-up_hide {
  display: none;
}
