.btn-up {
  position: fixed;
  z-index: 9;
  //   background-color: #f8514e81;
  fill: rgba(237, 24, 44, 0.3);
  backdrop-filter: blur(4px);
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-up_hide {
  display: none;
}
